@model smsproject.ViewModel.UsersVM
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div class="container">
	<div class="row">
		<table class="table table-striped">
			<thead>
			<th>
				Id
			</th>
			<th>Name</th>
			</thead>
			<tbody>
			@foreach (var user in Model.UserList)
			{
				<tr>
					<td>@user.Id</td>
					<td>@user.Name</td>
				</tr>
			}
			</tbody>
		</table>
	</div>
</div>